services:
  backend:
    build: ./backend
    ports:
      - "8001:8000"
    command: 
    depends_on:
      - db

  db:
    build: ./database
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: