services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    command: 
    depends_on:
      - db

  db:
    build: ./database
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"

  frontend:
    build: ./frontend
    ports:
      - "8000:80"
    depends_on:
      - backend
